/* #FFFFFF //color of background
box-shadow;




color for text:  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background:#000;
  color:#fff;

}
.container{
  margin:2rem 2rem;
}

.counter{
  display:flex;
  justify-content:center;
  align-items:flex-end;
  margin-top:4rem;
}

.minus{
  border-radius:50%;
  width:50px;
  height:50px;
  background:gray;
  color:white;
  margin-right:-15px;
  z-index:1;
 border:none;
 font-size:30px
  

}

.count{
  border-radius:50%;
  display:flex;
  width:100px;
  height:100px;
  background:white;
  color:black;
  align-content:center;
  justify-content:center;
  align-items:center;
 border:none;
}
.plus{
  border-radius:50%;
  width:50px;
  height:50px;
  background:gray;
  color:white;
  margin-left:-15px;
  z-index:1;
   border:none;
   font-size:20px;
}